.heading h1 {
  color: #fff;
  text-align: center;
  padding: 50px 0px 20px 0px;
}
.heading span {
  background-color: #023e8a;
  padding: 10px 20px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 330px;
  margin: 20px 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.card img {
  width: 100%;
  min-height: 280px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.card-content {
  text-align: center;
}

.card-content h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1em;
  margin-bottom: 15px;
}

.card-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* width: 100%; */
}

.card-content button:hover {
  background-color: #0056b3;
}
